In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("data.csv")
df.head(10)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2

In [ ]:
df = df[((df['longitude_of_pickup'] > -78) & (df['longitude_of_pickup'] < -70)) & ((df['longitude_of_dropoff'] > -78) & (df['longitude_of_dropoff'] < -70)) & ((df['latitude_of_pickup'] > 37) & (df['latitude_of_pickup'] < 45)) & ((df['latitude_of_dropoff'] > 37) & (df['latitude_of_dropoff'] < 45)) & (df['no_of_passenger'] > 0) & (df['amount'] > 2.5)]

In [ ]:
df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,48631.000000,48631.000000,48631.000000,48631.000000,48631.000000,48631.000000
mean,11.398746,-73.975228,40.750939,-73.974065,40.751522,1.675927
std,9.665875,0.044739,0.037991,0.039377,0.038701,1.289565
min,2.900000,-75.423848,38.754215,-75.354559,39.604971,1.000000
25%,6.000000,-73.992316,40.736514,-73.991332,40.735917,1.000000
50%,8.500000,-73.982128,40.753446,-73.980493,40.754119,1.000000
75%,12.500000,-73.968415,40.767792,-73.965386,40.768486,2.000000
max,200.000000,-70.140793,43.098708,-72.854940,43.415190,6.000000

In [ ]:
df.shape

(48631, 8)

In [ ]:
#Haversine Distance between 2 geolocations
def dist(lat1, lon1, lat2, lon2):
  p = 0.017453292519943295 
  a = 0.5 -  np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p))/2
  return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))

In [ ]:
df['distance_miles'] = dist(df.latitude_of_pickup, df.longitude_of_pickup, df.latitude_of_dropoff, df.longitude_of_dropoff)

In [ ]:
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,distance_miles
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.640487
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,5.250670
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.863411
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,1.739386
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.242218

In [ ]:
df.drop(['unique_id','date_time_of_pickup'],axis=1,inplace=True)
df.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,distance_miles
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,0.640487
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,5.250670
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,0.863411
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,1.739386
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,1.242218

In [ ]:
from sklearn.model_selection import train_test_split
x = df.drop(['amount'],axis =1)
y = df.amount
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
x_train.shape
x_test.shape

(14590, 6)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
pred = lr.predict(x_test)
print(pred)

[ 8.37786679 10.06340089 20.89767083 ... 12.11114017 11.09700049
  9.23683012]

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
def cal(yt,yp):
  mse = mean_squared_error(yt,yp)
  rmse = np.sqrt(mse)
  r = r2_score(yt,yp)
  print("mse: ",mse)
  print("rmse: ",rmse)
  #r2 should be equal or near to 1.0 then it is a good model
  print("r2score: ",r)


print(cal(y_test,pred))

mse:  70.92001482363976
rmse:  8.421402188688043
r2score:  0.20815203916101865
None

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf =  RandomForestRegressor(max_depth=5, random_state=0, n_estimators=200)
rf.fit(x_train, y_train)
pred1 =  rf.predict(x_test)
print(pred1)

[ 6.24208287  8.76783098 24.56114265 ... 11.90194542 10.05361801
  8.87154322]

In [ ]:
print(cal(y_test,pred1))

mse:  20.535472373678335
rmse:  4.531608144321211
r2score:  0.77071392378584
None

In [ ]:
print(y_test)

30582     4.1
20939     7.3
6242     24.5
43629    10.5
12688     6.5
         ...
18195     5.0
27185     3.3
8285     13.3
16497    10.1
27612     8.1
Name: amount, Length: 14590, dtype: float64